@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@font-face {
    font-family: 'SF Pro Text';
    src: url('font/SF-Pro-Text-Light.otf') format('woff');
    /*Thêm các định dạng font khác nếu cần thiết (eot, ttf, svg, etc.)*/
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('font/gilroy-medium.ttf') format('ttf');
    /*Thêm các định dạng font khác nếu cần thiết (eot, ttf, svg, etc.)*/
}
@font-face {
  font-family: 'ABeeZee-Italic';
  src: url('font/ABeeZee-Italic.ttf') format('ttf');
  /*Thêm các định dạng font khác nếu cần thiết (eot, ttf, svg, etc.)*/
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*Banner*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: rgb(45, 165, 45);
}
header .logo {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}
header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 10px 0;
}
header .navigation li {
  list-style: none;
  margin: 0 10px;
}
header .navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'ABeeZee', sans-serif;
}
header .navigation li a:hover{
  color: orange;
}
header .search {
  position: relative;
  width: 340px;
  height: 40px;
}
header .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0 10px 0 85px;
}
header .search input::placeholder{
  color: #fff;
}
header .search .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
}
header .search .fa-cart-shopping{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  left: 10px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
  transition: 0.5s;
  cursor: pointer;

}
header .search .fa-cart-shopping:hover {
  color: orange;
  transform: translateY(-10px);
}
header .search .quanlity {
  position: absolute;
  top: 0;
  left: 0;
  font-size: x-small;
  background-color: rgb(237, 21, 21);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(20px);
}
.banner {
  background: rgba(22, 170, 22, 0.676);
  padding: 200px 100px 100px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .content {
  max-width: 700px;
}
.banner .content h2 {
  font-size: 2.5em;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
  font-style: italic;
}
.banner .content p {
  font-size: 1em;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
}
.banner .image {
  max-width: 400px;
  margin-left: 50px;
}
@media (max-width: 991px){
  header {
    padding: 10px 20px;
    flex-direction: column;
  }
  .banner {
    padding: 150px 20px 50px;
    flex-direction: column-reverse;
  }
  .banner .image{
    margin-left: 0;
    max-width: 80%;
  }
  .banner .content h2 {
    font-size: 2em;
    color: #fff;
  }
}
@media (max-width: 600px){
  header .search{
    width: 100%;
  }
  .banner .image{
    margin-left: 0;
    max-width: 80%;
    margin-top: 30px;
  }
}
.heading {
  background-color: #e8e8e8d5;
  margin-bottom: 30px;
  padding: 30px 0;
  grid-column: 1/-1;
  text-align: center;
}
.heading span{
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.heading p .home{
  color: rgb(35, 205, 35);
}
/* pagination */
.pagination-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.pagination-container button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}
/*Add to cart*/
.menu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* slider */
.flex-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.flex-container .slider-box {
  flex: 0.1;
}
.slider-box {
  width: 240px;
  height: 146.83px;
  background: #F6F7F8;
  padding: 20px;
}

.price-span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #22262A;
}

.price-div {
  display: block;
  height: 23.45px;
  margin-bottom: 20.39px;
  margin-top: 20.39px;
  font-family: 'Lexend Deca', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.ranger-label {
  display: inline-block;
  float: left;
}

.price-label {
  display: inline-block;
  float: right;
}

.selector ul {
  position: relative;
  display: block;
  overflow: auto;
  min-width: 138px;
  max-height: 200px;
  background: #fff;
  list-style: none;
  white-space: inherit;
  padding-right: 17px;
  width: calc(100% + 17px)
}

.selector li {
  position: relative;
  padding: 3px 20px 3px 25px;
  cursor: pointer
}

.selector li:before {
  position: absolute;
  top: 50%;
  left: 0;
  top: 4px;
  display: inline-block;
  margin-right: 9px;
  width: 17px;
  height: 17px;
  background-color: #f4f4f4;
  border: 1px solid #d5d5d5;
  content: ""
}

.selector li[data-selected="1"]:before {
  border: 1px solid #d7d7d7;
  background-color: #fff
}

.selector li[data-selected="1"]:after {
  position: absolute;
  top: 50%;
  left: 3px;
  top: 11px;
  display: inline-block;
  width: 4px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  background: none;
  color: #39c9a9;
  content: "";
  -webkit-transform: rotate(40deg) translateY(-50%);
  transform: rotate(40deg) translateY(-50%)
}

.selector li:hover {
  color: #aaa
}

.selector li .total {
  position: absolute;
  right: 0;
  color: #d7d7d7
}

.selector .price-slider {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-top: 17px
}

@media (min-width: 768px) {
  .selector .price-slider {
      padding-top:8px
  }
}

.selector .price-slider:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 0;
  color: #39c9a9;
  content: attr(data-currency);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.selector #slider-range {
  width: 90%;
  margin-bottom: 30px;
  border: none;
  background: #e2f7f2;
  height: 3px;
  margin-left: 8px;
  margin-right: 8px
}

@media (min-width: 768px) {
   .selector #slider-range {
      width:100%
  }
}

.selector .ui-slider-handle {
  border-radius: 50%;
  background-color: #1AC073;
  border: none;
  top: -14px;
  width: 28px;
  height: 28px;
  outline: none
}

@media (min-width: 768px) {
  .selector .ui-slider-handle {
      top:-7px;
      width: 16px;
      height: 16px
  }
}

.selector .ui-slider-range {
  background-color: #1AC073
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.loading-overlay img {
  width: 50px; /* Thay đổi kích thước của biểu tượng loading nếu cần */
}
.selector .slider-price {
  position: relative;
  display: inline-block;
  padding: 5px 40px;
  width: 40%;
  background-color: #e2f7f2;
  line-height: 28px;
  text-align: center
}

.selector .slider-price:before {
  position: absolute;
  top: 50%;
  left: 13px;
  margin-top: 0;
  color: #39c9a9;
  content: attr(data-currency);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.selector .show-all {
  position: relative;
  padding-left: 25px;
  color: #39c9a9;
  cursor: pointer;
  line-height: 28px
}

.selector .show-all:after, .selector .show-all:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -1px;
  color: #39c9a9;
  width: 10px;
  border-bottom: 1px solid
}

.selector .show-all:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.selector.open ul {
  max-height: none
}

.selector.open .show-all:after {
  display: none
}
* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* stars */
.five-star{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.four-star{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.three-star{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.two-star{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.one-star{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
:root {
  --star-size: 40px;
  --star-color: #fff;
  --star-background: #fc0;
}
.star-rating{ 
  background-color: #F6F7F8;
  width: 240px;
}
.star-rating .Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  &::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.star-rating input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 2em;
  width: 2em;
  background-color: #ffffff;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  outline: none;
  align-items: center;
  justify-content: center;
  outline: 2px solid #aaa;
  margin-right: 10px;
}
/* checkbox */
input[type="checkbox"]:after {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 1.5em;
  color: #ffffff;
  display: none;
}
input[type="checkbox"]:hover {
  background-color: rgba(228, 226, 226, 0.784);
}
input[type="checkbox"]:checked {
  background-color: rgb(15, 157, 15);
}
input[type="checkbox"]:checked:after {
  display: block;
}
/* food-item */
.food-items-container {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.food-items-container .food-item {
  flex-basis: calc(33.33% - 20px);
  box-sizing: border-box;
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.food-items-container .food-item img {
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0 ;
}
.detail{
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
.detail .add-icon{
  color: black;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.detail .add-icon:hover{
  color: rgb(199, 199, 39);
  cursor: pointer;
  transform: translateY(-10px);
}
.detail-sub{
  display: grid;
  grid-template-columns: auto auto;
}
.detail-sub>h5{
  font-weight: 600;
  font-size: 18px;
}
.price{
  text-align: right;
}
.detail-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-desc .rate {
  display: flex;
  align-items: center;
  background: rgba(128, 128, 128, 0.397);
  border-radius: 2px;
  width: 50px;
}

.detail-desc .star {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.delivery-time {
  background: rgba(128, 128, 128, 0.273);
  padding: 5px 10px;
  border-radius: 5px;
}
/*footer*/
footer{
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(117, 255, 117, 0.594);
    border-radius: 10px;
}
footer .media_icon,
footer .menu,
footer .ic{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .media_icon li,
footer .menu li{
    list-style: none;
}
footer .media_icon li a,
footer .menu li{
    font-size: 2em;
    color: black;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .menu li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}
footer .menu li a:hover{
  transform: translateY(-10px);
  color: orange;
}
footer .media_icon li a:hover{
    transform: translateY(-10px);
}