@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@font-face {
    font-family: 'SF Pro Text';
    src: url('font/SF-Pro-Text-Light.otf') format('woff');
    /*Thêm các định dạng font khác nếu cần thiết (eot, ttf, svg, etc.)*/
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('font/gilroy-medium.ttf') format('ttf');
    /*Thêm các định dạng font khác nếu cần thiết (eot, ttf, svg, etc.)*/
}
@font-face {
  font-family: 'ABeeZee-Italic';
  src: url('font/ABeeZee-Italic.ttf') format('ttf');
  /*Thêm các định dạng font khác nếu cần thiết (eot, ttf, svg, etc.)*/
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*Banner*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background: rgb(45, 165, 45);
}
header .logo {
  position: relative;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}
header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 10px 0;
}
header .navigation li {
  list-style: none;
  margin: 0 10px;
}
header .navigation li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'ABeeZee', sans-serif;
}
header .navigation li a:hover{
  color: orange;
}
header .search {
  position: relative;
  width: 340px;
  height: 40px;
}
header .search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 0 10px 0 85px;
}
header .search input::placeholder{
  color: #fff;
}
header .search .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
}
header .search .fa-cart-shopping{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  left: 10px;
  color: #fff;
  border-right: 1px solid #fff;
  padding-right: 10px;
  transition: 0.5s;
  cursor: pointer;

}
header .search .fa-cart-shopping:hover {
  color: orange;
  transform: translateY(-10px);
}
header .search .quanlity {
  position: absolute;
  top: 0;
  left: 0;
  font-size: x-small;
  background-color: rgb(237, 21, 21);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(20px);
}
.banner {
  background: rgba(22, 170, 22, 0.676);
  padding: 200px 100px 100px;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .content {
  max-width: 700px;
}
.banner .content h2 {
  font-size: 2.5em;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
  font-style: italic;
}
.banner .content p {
  font-size: 1em;
  color: #fff;
  font-family: 'ABeeZee', sans-serif;
}
.banner .image {
  max-width: 400px;
  margin-left: 50px;
}
@media (max-width: 991px){
  header {
    padding: 10px 20px;
    flex-direction: column;
  }
  .banner {
    padding: 150px 20px 50px;
    flex-direction: column-reverse;
  }
  .banner .image{
    margin-left: 0;
    max-width: 80%;
  }
  .banner .content h2 {
    font-size: 2em;
    color: #fff;
  }
}
@media (max-width: 600px){
  header .search{
    width: 100%;
  }
  .banner .image{
    margin-left: 0;
    max-width: 80%;
    margin-top: 30px;
  }
}
  /* menu */
.cart-page{
    margin: 80px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.cart-info {
    display: flex;
    flex-wrap: wrap;
}
.cart-info .pizza-title {
    font-weight:500;
    font-size: 20px;
}
.cart-info .btn-remove {
    background: #ff523b;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    transition: 0.5s;
}
.cart-info .btn-remove:hover{
    background-color: #f78778;
    color: black;
}
.cart-info .pizza-info{
    font-size: 15px;
}
th{
    text-align: left;
    padding: 5px;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid #bfb0b0;
}
td{
    padding: 15px 5px;
}
td .input-container {
    display: flex;
    align-items: center;
}
  
td .input-container input[type="number"] {
    width: 70px;
    text-align: center;
    border: none;
    border-radius: 20px;
    color: black;
    margin: 0 10px;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
  
td .input-container button {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
  
td .input-container button:hover {
    background-color: #0056b3;
}
td .input-voucher{
    width: 100%;
    height: 40px;
    border-radius: 7px;
}
td .btn-redeem-voucher{
    width: 100%;
    height: 40px;
    background: rgba(0, 255, 0, 0.942);
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
td .btn-redeem-voucher:hover{
    background: rgba(49, 221, 49, 0.835);
    color: white;
}
td .btn-checkout{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: rgba(6, 215, 6, 0.808);
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
td .btn-checkout:hover{
    background: rgb(77, 255, 77);
    color: black;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.final-total-text{
    font-weight: bold;
    font-size: 30px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table {
    border-top: 2px solid rgb(164, 164, 164);
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/* CSS cho modal */
.modal-content {
    border-radius: 10px;
  }
#progress-bar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.9s ease;
  }
  
  .step {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-top: 5px;
    background-color: #f0f0f0;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.9s ease;
  }
  .step.active {
    background-color: #27e530;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
    transform: scale(1.1);
  }
  .progress-bar-step{
    position: relative;
    width: 110px;
    height: 3px;
    background: #bfb0b0;
    border-radius: 10px;
  }
 .progress-bar-step.active{
    background: #27e530;
  }
  .modal-title{
    font-weight: bold;
  }
  #checkoutStep1 h3 {
    text-align: center;
  }
  #checkoutStep2 h3 {
    text-align: center;
  }
  /*footer*/
footer{
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(117, 255, 117, 0.594);
    border-radius: 10px;
}
footer .media_icon,
footer .menu,
footer .ic{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .media_icon li,
footer .menu li{
    list-style: none;
}
footer .media_icon li a,
footer .menu li{
    font-size: 2em;
    color: black;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .menu li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}
footer .menu li a:hover{
  transform: translateY(-10px);
  color: orange;
}
footer .media_icon li a:hover{
    transform: translateY(-10px);
}
  